{% extends 'base/base.html' %}
{% block content %}

<!--.slider_area-->  
<section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
    <div class="container">
        <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
               <div class="slider">
                    <h2>PRODUCT DETAIL</h2>
                    <p> <a href="index-2.html">Home <span>/</span> Shop<span>/</span></a> Product detail  </p>
               </div>
            </div>
		</div>
	</div>
</section> 
<!--/slider_area-->

<!--.slider_area-->  
<section class="prodect_detail-area clearfix">
    <div class="container">
        <div class="row">
			<div class="col-md-5 col-sm-6 col-xs-12">
               <!-- ________________________ Single gallery Slider ____________ -->

					<div class="slider_wrapper">
						<div class="single-gallery-carousel-content-box owl-carousel owl-theme">
							<div class="item">
								<img src="../../static/fauna/images/shop/s1.jpg" alt="Awesome Image"/>
							</div>
							<div class="item">
								<img src="../../static/fauna/images/shop/s2.jpg" alt="Awesome Image"/>
							</div>
							<div class="item">
								<img src="../../static/fauna/images/shop/s3.jpg" alt="Awesome Image"/>
							</div>
							<div class="item">
								<img src="../../static/fauna/images/shop/s4.jpg" alt="Awesome Image"/>
							</div>
							<div class="item">
								<img src="../../static/fauna/images/shop/s5.jpg" alt="Awesome Image"/>
							</div>
							<div class="item">
								<img src="../../static/fauna/images/shop/s6.jpg" alt="Awesome Image"/>
							</div>
							<div class="item">
								<img src="../../static/fauna/images/shop/s7.jpg" alt="Awesome Image"/>
							</div>
							<div class="item">
								<img src="../../static/fauna/images/shop/s8.jpg" alt="Awesome Image"/>
							</div>
							
						</div>
						<div style="margin:20px 46px 0 46px;">
							<div class="single-gallery-carousel-thumbnail-box owl-carousel owl-theme">
								<div class="item">
									<img src="../../static/fauna/images/shop/v1.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>
								<div class="item">
									<img src="../../static/fauna/images/shop/v2.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>
								<div class="item">
									<img src="../../static/fauna/images/shop/v3.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>
								<div class="item">
									<img src="../../static/fauna/images/shop/v4.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>
								<div class="item">
									<img src="../../static/fauna/images/shop/v5.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>
								<div class="item">
									<img src="../../static/fauna/images/shop/v6.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>
								<div class="item">
									<img src="../../static/fauna/images/shop/v7.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>
								<div class="item">
									<img src="../../static/fauna/images/shop/v8.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>
								<div class="item">
									<img src="../../static/fauna/images/shop/v9.jpg" alt="Awesome Image"/>
									<div class="overlay"></div>
								</div>

							</div>
						</div>   
					</div> <!-- End .slider_wrapper -->
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="product_history">
                    <div class="shop-item">
                        <h4>{{ product.name|upper }}</h4>
                        <p>{{ product.price }} ₼</p>
                    </div>
                    <p>Sleep on keyboard paw at your fat belly yet curl up and sleep on the freshly laundered towels but play time make muffins sleep on keyboard. Sweet beast if it smells like fish eat as much as you wish. Spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce vommit food and eat it again. Immediately regret falling into bathtub lie on your belly and purr when you are asleep russian blue but eat the fat cats food scratch at the door then walk away but see owner, </p>
                    <div class="item_name">
                        <h6>In Stock</h6>
                        <div class="item_names">
                            <p>QTY<span> *</span></p>
                            <div class="select-input-wrapper">
                                <input type="number" name="quantity" min="1" value="1">
                            </div>
                            <a href="shop-cart.html">ADD TO CART</a>
                        </div>
                    </div>
                    <p>Category: <span>Clothing, Accessories</span></p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
               <div class="product_tab">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#description">DESCRIPTION</a></li>
                      <li><a data-toggle="tab" href="#additional"><span>|</span>ADDITIONAL INFORMATION</a></li>
                      <li><a data-toggle="tab" href="#review"><span>|</span>REVIEWS</a></li>
                    </ul>
				    <div class="tab-content">
                      <div id="description" class="tab-pane fade in active">
                        <p>Stare at wall turn and meow stare at wall some more meow again continue staring eat the fat cats food or lay on arms while you're using the keyboard pelt around the house and up and down stairs chasing phantoms and swat at dog mark territory lick arm hair. Spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce meow to be let in. Find something else more interesting play riveting piece on synthesizer keyboard. </p>
                      </div>
                      <div id="additional" class="tab-pane fade">
                          <p>Stare at wall turn and meow stare at wall some more meow again continue staring eat the fat cats food or lay on arms while you're using the keyboard pelt around the house and up and down stairs chasing phantoms and swat at dog mark territory lick arm hair. Spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce meow to be let in. Find something else more interesting play riveting piece on synthesizer keyboard. </p>
                      </div>
                      <div id="review" class="tab-pane fade">
                          <p>Stare at wall turn and meow stare at wall some more meow again continue staring eat the fat cats food or lay on arms while you're using the keyboard pelt around the house and up and down stairs chasing phantoms and swat at dog mark territory lick arm hair. Spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce meow to be let in. Find something else more interesting play riveting piece on synthesizer keyboard. </p>
                      </div>
				    </div> <!-- /tab-content -->
				</div> <!-- /product_tab -->
            </div>
		</div>
	</div>
</section>
<!--shop-section-->
<section class="shop-section related">
    <div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="showing">
                    <h4>RELATED PRODUCTS</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">Cats Carrier</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/1.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$115.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">CDOGS NECK BELT</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/2.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$25.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">Dog Cushion Bed</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/3.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$60.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">Paw Printed Bag</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/4.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$80.00</p>
				</div>
				<!-- End single-item -->
			</div>
		</div>
    </div>
</section>
<!--End shop-section-->
<!--/slider_area-->

{% endblock %}