{% extends 'base/base.html' %}
{% block content %}

<!--.slider_area-->  
<section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
    <div class="container">
        <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
               <div class="slider">
                    <h2>SHOP</h2>
                    <p> <a href="index-2.html">Home <span>/</span></a> Shop</p>
               </div>
            </div>
		</div>
	</div>
</section> 
<!--/slider_area-->

<!--shop-section-->
<section class="shop-section">
    <div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="showing">
					<p>Showing 1-12 of 18 results</p>
					<div class="single-form">
						<div class="select-input-wrapper">
							<select class="select-input">
								<option value="" selected="selected">Default Sorting </option>
								<option value="">Default Sorting One</option>
								<option value="">Default Sorting Two</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">Cats Carrier</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/1.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$115.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">CDOGS NECK BELT</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/2.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$25.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">Dog Cushion Bed</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/3.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$60.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">Paw Printed Bag</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/4.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$30.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">PLAY BALL</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/5.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$1.15.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">LAB NECK BELT</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/6.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$60.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">DOG FOOD</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/7.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$80.00</p>
				</div>
				<!-- End single-item -->
			</div><div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">Cats Carrier</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/8.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$25.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">NECK BELT & LEASH</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/9.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$150.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">TOY MOUSE</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/10.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$60.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">COLOURED LEASH</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/11.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$25.00</p>
				</div>
				<!-- End single-item -->
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<!-- Start single-item -->
				<div class="shop-item">
					<h4><a href="product-detail.html">COLOURED LEASH</a></h4>
					<div class="item_shop">
						<img src="../../static/fauna/images/shop/12.jpg" alt="">
						<!-- Start overlay -->
						<div class="overlay">
							<div class="box">
                                <a  href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								<div class="image-view">
								 <a href="shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
								 </div>
							</div>
						</div>
						<!-- End overlay -->
					</div>
					<ul>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
					</ul>
					<p>$80.00</p>
				</div>
				<!-- End single-item -->
			</div>
			
		</div>
		<div class="blog-arrow">
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</section>
<!--End shop-section-->

{% endblock %}