{% extends 'base/base.html' %}
{% block content %}

<!--.slider_area-->  
<section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
    <div class="container">
        <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
               <div class="slider">
                    <h2>CHECKOUT</h2>
                    <p> <a href="index-2.html">Home <span>/</span> Shop <span>/</span></a> Checkout</p>
               </div>
            </div>
		</div>
	</div>
</section> 
<!--/slider_area-->

<!-- start latest-news-->
<section id="checkout-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 return-customer">
                <p>Exisitng Customer?<a href="#"> Click here to login</a></p>
            </div>
            <div class="col-lg-12 return-customer">
                <p>Have a Coupon?<a href="#"> Click here to enter code</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="section-title2">
                    <h1><b>billing details</b></h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>First Name <span>*</span></label>
                        <input type="text" placeholder="">
                    </div>
                    <div class="col-lg-6">
                        <label>Last Name <span>*</span></label>
                        <input type="text" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Company Name</label>
                        <input type="text" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Address <span>*</span></label>
                        <input type="text" placeholder="Street address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Town / City <span>*</span></label>
                        <input type="text" placeholder="">
                    </div>
                    <div class="col-lg-6">
                        <label>Postcode / Zip <span>*</span></label>
                        <input type="text" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Email Address <span>*</span></label>
                        <input type="text" placeholder="">
                    </div>
                    <div class="col-lg-6">
                        <label>Phone <span>*</span></label>
                        <input type="text" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Country<span>*</span></label>
                        <input type="text" placeholder="">
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 create-account">
                        <input type="checkbox"> <span><b>Create an account ?</b></span>
                        <h4>YOUR ORDER</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 right-checkout">
                <div class="section-title2">
                    <h1><b>your order</b></h1>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Order Notes</label>
                        <textarea placeholder="Note about your order. e.g. special note for delivery"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cart-page -->
<section class="cart-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <table class="table cart-table">
                    <thead>
                        <tr>
                            <th class="preview">PRODUCT</th>
                            <th class="quantity">QUANTITY</th>
                            <th class="price">PRICE</th>
                            <th class="total">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="preview">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                <img src="../../static/fauna/images/shop/17.jpg" alt="">
                                DOGS NECK BELT
                            </td>
                            <td class="quantity">
                                <div class="select-input-wrapper">
                                    <input type="number" name="quantity" min="1" value="1"> 
                                </div>
                            </td>
                            <td class="price">
                                $25
                            </td>
                            
                            <td class="total">
                                $25
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 pull-left cupon-box">
                <input type="text" placeholder="cupon code">
                <button type="submit">APPLY COUPON</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 pull-right add-to-cart-wrap">
                <a class="contact-button" href="#">
                    <div class="contact-us-button">UPDATE CART</div>
                </a>
            </div>
        </div>
        <div class="cart-total-box row">
            <div class="col-lg-12 create-account">
                <h4>Payment Method</h4>
                <input type="checkbox"> <span><b>Create an account ?</b></span>
                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
            </div>
            <div class="col-lg-12 create-account">
                <input type="checkbox"> <span><b>Paypal</b></span>
            </div>
            <div class="col-lg-12 create-account">
                <input type="checkbox"> <span><b>Direct Bank Transfer</b></span><br>
                <button type="submit">PLACE ORDER</button>
            </div>
        </div>
    </div>	
</section>

{% endblock %}