{% extends 'base/base.html' %}
{% block content %}

    <!--Start rev slider wrapper-->
    {% include 'slider/slider.html' %}
    <!--End rev slider wrapper-->

    <!--services-fluid-->
    {% include 'services/services.html' %}
    <!--End services-fluid-->

    <!--contact-area-->
    <!--custom-appointment-area-->
    {% include 'appointment_form/appointment_form.html' %}
    <!--End custom-appointment-area-->
    <!--End contact-area-->

    <!--shop-section-->
    {% include 'home/section_shop.html' %}
    <!--End shop-section-->

    <!--Start testimonial_area-->
    {% include 'testimonies/testimonies.html' %}
    <!--End testimonial_area-->

    <!-- start latest-news-->
    <!-- start custom-latest-blog-->
    {% include 'home/section_latest_blogs.html' %}
    <!-- End custom-latest-blog-->
    <!--End latest-news-->

{% endblock %}