{% extends 'base/base.html' %}
{% block content %}

    <!--Start rev slider wrapper-->
    {% include 'slider/slider.html' %}
    <!--End rev slider wrapper-->

    <!--services-fluid-->
    {% include 'services/services.html' %}
    <!--End services-fluid-->

    <!--contact-area-->
    <section class="contact-fluid" style="background-image:url(../../../static/fauna/images/blog/bg1.jpg);">
        <div class="container-fluid">
            <div class="row clearfix">
                <!--Left Column-->
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <!-- .contact-form-wrap -->
                    <div class="default-form con-fluid">
                        <h2>MÜRACİƏT ET</h2>
                        <form action="http://world5.commonsupport.com/2017/Carlisle-html/inc/sendemail.php"
                              id="contact-form">
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <input type="text" name="username" value="" placeholder="Ad">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" value="" placeholder="Telefon">
                                    </div>
                                    <div class="single-form">
                                        <div class="select-input-wrapper">
                                            <select class="select-input" name="category">
                                                <option value="" selected="selected">Xidmət Növü</option>
                                                <option value="General Motors">Heyvanların Satışı</option>
                                                <option value="General Motors">Heyvanların Cütləşdirilməsi</option>
                                                <option value="General Motors">Heyvanların Saxlanması</option>
                                                <option value="General Motors">Cinsin Müəyyənləşdirilməsi</option>
                                                <option value="General Motors">İlan Tutma</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <input type="text" name="email" value="" placeholder=" Email">
                                    </div>
                                    <div class="single-form">
                                        <div class="select-input-wrapper">
                                            <select class="select-input" name="category">
                                                <option value="" selected="selected">Pet Category</option>
                                                <option value="General Motors">Pet Category One</option>
                                                <option value="General Motors">Pet Category Two</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="date" type="text" placeholder="Visitng Date & Time"
                                               class="datepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group comments">
                                <textarea name="message" placeholder="Əlavə mesajınız"></textarea>
                            </div>
                            <button type="submit" class="btn btn-one">MÜRACİƏT ET</button>
                        </form>
                    </div>
                    <!-- /.contact-form-wrap -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <figure class="img-box-2"><img src="../../../static/fauna/images/services/6.jpg" alt="Images"></figure>
                </div>
            </div>

        </div>
    </section>
    <!--End contact-area-->
    <!--shop-section-->
    <section class="shop-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Start single-item -->
                    <div class="shop-item">
                        <h4><a href="../shop-detail.html">Cats Carrier</a></h4>
                        <div class="item_shop">
                            <img src="../../../static/fauna/images/shop/1.jpg" alt="">
                            <!-- Start overlay -->
                            <div class="overlay">
                                <div class="box">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    <div class="image-view">
                                        <a href="../shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay -->
                        </div>
{#                        <ul>#}
{#                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>#}
{#                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>#}
{#                        </ul>#}
                        <p>$115.00</p>
                    </div>
                    <!-- End single-item -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Start single-item -->
                    <div class="shop-item">
                        <h4><a href="../shop-detail.html">CDOGS NECK BELT</a></h4>
                        <div class="item_shop">
                            <img src="../../../static/fauna/images/shop/2.jpg" alt="">
                            <!-- Start overlay -->
                            <div class="overlay">
                                <div class="box">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    <div class="image-view">
                                        <a href="../shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay -->
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        </ul>
                        <p>$25.00</p>
                    </div>
                    <!-- End single-item -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Start single-item -->
                    <div class="shop-item">
                        <h4><a href="../shop-detail.html">Dog Cushion Bed</a></h4>
                        <div class="item_shop">
                            <img src="../../../static/fauna/images/shop/3.jpg" alt="">
                            <!-- Start overlay -->
                            <div class="overlay">
                                <div class="box">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    <div class="image-view">
                                        <a href="../shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay -->
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        </ul>
                        <p>$60.00</p>
                    </div>
                    <!-- End single-item -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Start single-item -->
                    <div class="shop-item">
                        <h4><a href="../shop-detail.html">Paw Printed Bag</a></h4>
                        <div class="item_shop">
                            <img src="../../../static/fauna/images/shop/4.jpg" alt="">
                            <!-- Start overlay -->
                            <div class="overlay">
                                <div class="box">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    <div class="image-view">
                                        <a href="../shop-cart.html"><i class="flaticon-shopping-cart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End overlay -->
                        </div>
                        <ul>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        </ul>
                        <p>$80.00</p>
                    </div>
                    <!-- End single-item -->
                </div>
            </div>
        </div>
    </section>
    <!--End shop-section-->

    <!--Start testimonial_area-->
    {% include 'testimonies/testimonies.html' %}
    <!--End testimonial_area-->

    <!-- start latest-news-->
    <section class="latest-news">
        <div class="container">
            <div class="section-title text-center">
                <h2>Ən Son Paylaşılanlar</h2>
                <h6><span class="flaticon-pawprint"></span></h6>
                <div class="border"></div>
                <p>Thug cat destroy couch eat the fat cats food chirp at birds lie on your belly and<br> purr when you
                    are asleep with tail in the air. </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="wellcome hvr-shadow">
                        <figure><a href="../blog-detail.html"><img src="../../../static/fauna/images/blog/8.jpg" alt="Images"></a>
                        </figure>
                        <div class="wellcome-text wellcome-2">
                            <h4><a href="../blog-detail.html">These two dogs are best friends for life</a></h4>
                            <div class="deat-text clearfix">
                                <div class="deat deat-2"><p>30<br><span>OCT</span></p></div>
                                <p><i class="fa fa-heart-o" aria-hidden="true"></i>32 Bəyənmə</p>
                                <p><i class="fa fa-comment-o" aria-hidden="true"></i>16 Komment</p>
                            </div>
                            <p>Paw at your fat belly ears back wide eyed wide present belly, scratch hand when stroked.
                                Rub face on everything sit in box.</p>
                            <a href="../blog-detail.html">Ətraflı<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="wellcome hvr-shadow">
                        <figure><a href="../blog-detail.html"><img src="../../../static/fauna/images/blog/9.jpg" alt="Images"></a>
                        </figure>
                        <div class="wellcome-text wellcome-2">
                            <h4><a href="../blog-detail.html">These two dogs are best friends for life</a></h4>
                            <div class="deat-text clearfix">
                                <div class="deat deat-2"><p>30<br><span>OCT</span></p></div>
                                <p><i class="fa fa-heart-o" aria-hidden="true"></i>32 Bəyənmə</p>
                                <p><i class="fa fa-comment-o" aria-hidden="true"></i>16 Komment</p>
                            </div>
                            <p>Paw at your fat belly ears back wide eyed wide present belly, scratch hand when stroked.
                                Rub face on everything sit in box.</p>
                            <a href="../blog-detail.html">Ətraflı<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="wellcome hvr-shadow">
                        <figure><a href="../blog-detail.html"><img src="../../../static/fauna/images/blog/10.jpg"
                                                                   alt="Images"></a></figure>
                        <div class="wellcome-text wellcome-2">
                            <h4><a href="../blog-detail.html">These two dogs are best friends for life</a></h4>
                            <div class="deat-text clearfix">
                                <div class="deat deat-2"><p>1<br><span>NOV</span></p></div>
                                <p><i class="fa fa-heart-o" aria-hidden="true"></i>32 Bəyənmə</p>
                                <p><i class="fa fa-comment-o" aria-hidden="true"></i>16 Komment</p>
                            </div>
                            <p>Paw at your fat belly ears back wide eyed wide present belly, scratch hand when stroked.
                                Rub face on everything sit in box.</p>
                            <a href="../blog-detail.html">Ətraflı<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End latest-news-->
{% endblock %}