{% extends 'base/base.html' %}
{% block content %}

    {# For Facebook Comment, Share & Like -STARTING - #}
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    {# For Facebook Comment, Share & Like -ENDING - #}

    <!--.slider_area-->
    <section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider">
                        <h2>{{ blog.title }}</h2>
                        <p><a href="index-2.html">Home <span>/</span></a> Blog Detail</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/slider_area-->

    <!-- start latest-news-->
    <section class="latest-news latest-page">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="wellcome blog-detail ">
                        <figure><img src="{{ blog.get_main_image.title.url }}" alt="Images" width="450"
                                     height="400"></figure>
                        <div class="wellcome-text clearfix">
                            <div class="deat-text clearfix">
                                <h4><a href="#">{{ blog.title }}</a></h4>
                                <div class="deat">
                                    <p>{{ blog.created_at|date:'d' }}<br><span>{{ blog.created_at|date:'F'|upper }}</span>
                                    </p></div>
                                {#                            <p><i class="fa fa-heart-o" aria-hidden="true"></i>32 Likes</p>#}
                                <p><i class="fa fa-comment-o" aria-hidden="true"></i>16 Comments</p>
                            </div>
                            <p style="text-align: justify">{{ blog.description }}</p>
                            {# <p>Paw at your fat belly ears back wide eyed present belly, scratch hand when stroked. Rub face on everything sit in box. Love to play with owner's hair tie cats secretly make all the worlds muffins kick up litter dream about hunting birds. </p>#}
                            {# <p>Bathe private parts with tongue then lick owner's face hate dog eat from dog's food but kitty scratches couch bad kitty for going to catch the red dot today going to catch the red dot today have secret plans swat at dog. Human give me attention meow see owner, run in terror yet ears back wide eyed kitty power! cat slap dog in face or hack up furballs. Cats making all the muffins meow loudly just to annoy owners, playing with balls of wool but find something else more interesting, but attack feet hack up furballs. Cats making all the muffins. Leave fur on owners clothes put toy mouse in food bowl run out of litter box at full speed for cats making all the muffins for stare at ceiling.</p>#}
                        </div>
                    </div>
                    <div class="comment-item clearfix">
                        <ul>
                            <li>
                        <div class="fb-like" data-href="{{ request.build_absolute_url }}"
                             data-layout="standard" data-size="large" data-action="like" data-size="small" data-show-faces="true"
                             data-share="true"></div>
                            </li>
                        </ul>
                        <div class="comment-single">
                            <div class="comment-single-box">
                                <div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-width="800"
                                     data-numposts="5"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="side-bar">
                        <div class="side-search">
                            <h2>Search</h2>
                            <div class="border"></div>
                            <ul class="search-bar">
                                <li>
                                    <form action="#">
                                        <input type="text" placeholder="Search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="categories">
                            <h2>Categories</h2>
                            <div class="border"></div>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Cats</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dogs</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dog Lovers</a></li>
                                <li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Care Advice</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Veternarian</a>
                                </li>
                            </ul>
                        </div>
                        <div class="side-gallery">
                            <h2>FLICKR GALLERY</h2>
                            <div class="border"></div>
                            <div class="side-gallery">
                                <ul>
                                    <li><a href="#"><img src="../../static/fauna/images/blog/16.jpg" alt="Images"></a>
                                    </li>
                                    <li><a href="#"><img src="../../static/fauna/images/blog/17.jpg" alt="Images"></a>
                                    </li>
                                    <li><a href="#"><img src="../../static/fauna/images/blog/18.jpg" alt="Images"></a>
                                    </li>
                                    <li><a href="#"><img src="../../static/fauna/images/blog/19.jpg" alt="Images"></a>
                                    </li>
                                    <li><a href="#"><img src="../../static/fauna/images/blog/20.jpg" alt="Images"></a>
                                    </li>

                                    <li><a href="#"><img src="../../static/fauna/images/blog/21.jpg" alt="Images"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End latest-news-->

{% endblock %}