{% extends 'base/base.html' %}
{% block content %}

<!--.slider_area-->  
<section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
    <div class="container">
        <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
               <div class="slider">
                    <h2>Ev Heyvanına Partnyor Tap</h2>
                    <p> <a href="index-2.html">Ana Səhifə <span>/</span></a> Blog</p>
               </div>
            </div>
		</div>
	</div>
</section> 
<!--/slider_area-->

<!-- start latest-news-->
<section class="latest-news latest-page">
    <div class="container">
        <div class="row">
            {% for blog in blogs %}
                {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 4 %}
			<div class="col-md-6 col-sm-6 col-xs-12">
                <div class="wellcome">
                    <figure><a href="{{ blog.get_absolute_url }}"><img src="{{ blog.get_main_image.title.url }}" alt="Images" style="width:550px; height: 370px;"></a></figure>
                    <div class="wellcome-text">
                        <div class="deat-text clearfix">
                            <div class="deat"><p>{{ blog.created_at|date:'d' }}<br><span>{{ blog.created_at|date:'M'|upper }}</span></p></div>
                            <p><i class="fa fa-comment-o" aria-hidden="true"></i>16 Komment</p>
                        </div>
                        <h4><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h4>
                        <p>{{ blog.description|truncatechars_html:150 }}</p>
                        {% if blog.description|length < 150 %}<br>{% endif %}
                        <a href="{{ blog.get_absolute_url }}">Ətraflı<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
			</div>
                {% endif %}
            {% endfor %}
		</div>
        {% if is_paginated %}
        <div class="blog-arrow">
            <ul>
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></li>
                {% endif %}
                {% for page_num in page_index %}
                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
{#                <li><a href="#">2</a></li>#}
                {% endfor %}
{#                <li><a href="#">3</a></li>#}
                {% if page_obj.has_next  %}
                <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
	</div>
</section>
<!--End latest-news-->

{% endblock %}