{% extends 'base/base.html' %}
{% block content %}

<!--.slider_area-->  
<section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
    <div class="container">
        <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
               <div class="slider">
                    <h2>404</h2>
                    <p> <a href="index-2.html">Home <span>/</span> Page</a> <span>/</span> 404</p>
               </div>
            </div>
		</div>
	</div>
</section> 
<!--/slider_area-->
<section class="not-found-area">
    <div class="container">      
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="not-foud-img wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
					<img src="../../static/fauna/images/services/13.jpg" alt="">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="not-found-text">
					<h2>We are sorry! <span>Error 404!</span><br>This page could not be found.</h2>
					<p>Can't find what you need? Take a moment and do<br>
					a search below or start from our <a href="index-2.html">homepage.</a></p>
					<div class="search-for">
						<form action="#">
                            <input type="text" placeholder="Search here...">
                            <button type="submit">SEARCH<i class="fa fa-search"></i></button>
                        </form>
					</div>
				</div>
			</div>
		</div>
		
    </div>
</section>
<!--End Gallery Section-->

{% endblock %}