{% extends 'base/base.html' %}
{% block content %}

<!--.slider_area-->
<section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider">
                    <h2>ƏLAQƏ</h2>
                    <p><a href="index-2.html">Ana Səhifə<span>/</span></a>Əlaqə</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/slider_area-->
<!-- start latest-news-->
<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="contact-office">
                    <h4>OFİSİMİZ</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-map-o" aria-hidden="true"></i>AZ 1004, Azərbaycan Respublikası,
                            Bakı ş., A.Abbaszadə küç., 1128 döngə, 504 məhəllə</a></li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +994 12 539 73 71</a></li>
                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@fauna.az</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="map-section">
                    <!-- div class="google-map" id="google-map" data-map-lat="40.712784" data-map-lng="-74.005941" data-icon-path="images/resources/1.png" data-map-title="Brooklyn, New York, United Kingdom" data-map-zoom="12" data-markers='{
                        "marker-1": [40.712784, -74.005941, "<h4>Personal Trainning Camp</h4><p>228 Park Ave S, New York, UK</p>"],
                        "marker-2": [40.712783, -74.005945, "<h4>new york</h4><p>228 Park Ave S, New York, UK</p>"]

                    }'> -->

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24322.950095539774!2d49.821941!3d40.356347!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfdd484502656b657!2sAMEA+Zoologiya+%C4%B0nstitutu!5e0!3m2!1sen!2sus!4v1543956693754"
                            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--End latest-news-->
<!--contact-area-->
<section class="contact-area" style="background-image:url(../../static/fauna/images/blog/bg1.jpg);">
    <div class="container">
        <div class="row clearfix">
            <!--Left Column-->
            <div class="col-md-9 col-sm-9 col-xs-12 ">
                <!-- .contact-form-wrap -->
                <div class="default-form">
                    <h2>MAKE AN APPOINTMENT</h2>
                    <form action="http://world5.commonsupport.com/2017/Carlisle-html/inc/sendemail.php"
                          id="contact-form">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <div class="form-group">
                                    <input type="text" name="username" value="" placeholder=" Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" value="" placeholder="phone">
                                </div>
                                <div class="single-form">
                                    <div class="select-input-wrapper">
                                        <select class="select-input" name="category">
                                            <option value="" selected="selected">Service Type</option>
                                            <option value="General Motors">Service Type One</option>
                                            <option value="General Motors">Service Type Two</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <div class="form-group">
                                    <input type="text" name="email" value="" placeholder=" Email">
                                </div>
                                <div class="single-form">
                                    <div class="select-input-wrapper">
                                        <select class="select-input" name="category">
                                            <option value="" selected="selected">Pet Category</option>
                                            <option value="General Motors">Pet Category One</option>
                                            <option value="General Motors">Pet Category Two</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="date" type="text" placeholder="Visitng Date & Time" class="datepicker">
                                </div>
                            </div>
                        </div>
                        <div class="form-group comments">
                            <textarea name="message" placeholder="Your Comments"></textarea>
                        </div>
                        <button type="submit" class="btn btn-one">GET AN APPOINTMENT</button>
                    </form>
                </div>
                <!-- /.contact-form-wrap -->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 ">
                <figure class="img-box wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms"><img
                        src="../../static/fauna/images/blog/2.png" alt="Images"></figure>
            </div>
        </div>
    </div>
</section>
<!--End contact-area-->

{% endblock %}