{% extends 'base/base.html' %}
{% block content %}

<!--.slider_area-->
<section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="slider">
                    <h2>Haqqımızda</h2>
                    <p><a href="index-2.html">Home </a><span>/</span> About Us </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/slider_area-->

<!--.wellcome_area-->
<section class="wellcome_area">
    <div class="container">
        <div class="section-title text-center">
            <h2>Why Choose Us</h2>
            <h6><span class="flaticon-pawprint"></span></h6>
            <div class="border"></div>
            <p>Paw at your fat belly ears back wide eyed present belly, scratch hand when stroked. Rub face on
                everything sit in box. Love to play with owner's hair tie cats secretly make all the worlds muffins
                kick up litter dream about hunting birds.

                Bathe private parts with tongue then lick owner's face hate dog eat from dog's food but kitty
                scratches couch bad kitty for going to catch the red dot today going to catch the red dot today have
                secret plans swat at dog. Human give me attention meow see owner, run in terror yet ears back wide
                eyed kitty power! cat slap dog in face or hack up furballs. Cats making all the muffins meow loudly
                just to annoy owners, playing with balls of wool but find something else more interesting, but
                attack feet hack up furballs. Cats making all the muffins. Leave fur on owners clothes put toy mouse
                in food bowl run out of litter box at full speed for cats making all the muffins for stare at
                ceiling.
                <button type="submit" class="btn btn-one">GET AN APPOINTMENT</button>
            </p>
        </div>
    </div>
</section>
<!--/wellcome_area-->

{% endblock %}