{% extends 'base/base.html' %}
{% block content %}

    <!--.slider_area-->
    <section class="slider_area" style="background-image:url('../../static/fauna/images/slider/4.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider">
                        <h2>{{ service.title }}</h2>
                        <p><a href="/">Home</a> <span>/</span>{{ service.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/slider_area-->

    <!--.service_area-->
    <section class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="services-detail">
                        <figure><img src="../../static/fauna/images/services/12.jpg" alt="Images"></figure>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="services-detail">
                        <h6>Services we Provide</h6>
                        <h4>VACCINATION</h4>
                        <p>Attack feet love to play with owner's hair tie yet lick sellotape yet purr and i am the best.
                            Destroy couch as revenge kitty power! . Going to catch the red dot today going to catch the
                            red dot today chew iPad power cord, take a few bites of food and with continue meowing and
                            flop over</p>
                        <div class="text">
                            <p><span class="flaticon-pawprint"></span>Jump launch to pounce upon little yarn mouse,</p>
                            <p><span class="flaticon-pawprint"></span>Eat owner's food stretch. Kick up litter see
                                owner,</p>
                            <p><span class="flaticon-pawprint"></span>Cats go for world domination.</p>
                            <p><span class="flaticon-pawprint"></span>Make muffins paw at your fat belly licks your
                                face.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="services-detail-text">
                        <p>Hate dog lie on your belly and purr when you are asleep. Find something else more interesting
                            play time, but loves cheeseburgers sun bathe. Use lap as chair hola te quiero wake up wander
                            around the house making large amounts of noise jump on top of your human's bed and fall
                            asleep again but spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce
                            spit up on light gray carpet instead of adjacent linoleum. Make muffins paw at your fat
                            belly licks your face. You call this cat food? curl into a furry donut but flop over, and
                            always hungry. </p>

                        <p>Jump around on couch, meow constantly until given food, who's the baby, so pooping rainbow
                            while flying in a toasted bread costume in space lay on arms while you're using the keyboard
                            for purr for no reason so lick yarn hanging out of own butt rub whiskers on bare skin act
                            innocent. Lick yarn hanging out of own butt inspect anything brought into the house hopped
                            up on catnip kick up litter stare at wall turn and meow stare at wall some more meow again
                            continue staring or caticus cuteicus. Chase laser if it fits, i sits chase ball of string.
                            Scream at teh bath immediately regret falling into bathtub use lap as chair, so the dog
                            smells bad stare at ceiling light. Chase dog then run away walk on car leaving trail of paw
                            prints on hood and windshield but destroy the blinds and scratch at the door then walk away
                            lie on your belly and purr when you are asleep and meow for food, then when human fills food
                            dish, take a few bites of food and continue meowing. </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="services-detail">
                        <h5>Coverage Extensions Are Available for:</h5>
                        <div class="text">
                            <p><span class="flaticon-pawprint"></span>Pet Boarding Insurance</p>
                            <p><span class="flaticon-pawprint"></span>Daycare Insurance</p>
                            <p><span class="flaticon-pawprint"></span>Dog Walking Insurance</p>
                            <p><span class="flaticon-pawprint"></span>Pet Grooming Insurance</p>
                            <p><span class="flaticon-pawprint"></span>Pet Sitting Insurance</p>
                            <p><span class="flaticon-pawprint"></span>Wellcare Insurance</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="accordion-box">
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <span>Q</span>
                                <p>Decreases a chance of a health problem?</p>
                                <div class="toggle-icon">
                                    <i class="fa fa-caret-down"></i><i class="fa fa-caret-up" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Hate dog lie on your belly and purr when you are asleep. Use lap as chair hola te
                                    quiero wake up wander around the house making large amounts of noise jump on top of
                                    your human's bed and fall asleep again but spot something,</p>
                            </div>
                        </div>
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn active">
                                <span>Q</span>
                                <p>Helps to monitor the pet's health?</p>
                                <div class="toggle-icon">
                                    <span class="fa fa-caret-down"></span><span class="fa fa-caret-up"
                                                                                aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="acc-content collapsed">
                                <p>Hate dog lie on your belly and purr when you are asleep. Use lap as chair hola te
                                    quiero wake up wander around the house making large amounts of noise jump on top of
                                    your human's bed and fall asleep again but spot something,</p>
                            </div>
                        </div>
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <span>Q</span>
                                <p>Make muffins paw at your fat belly licks your face?</p>
                                <div class="toggle-icon">
                                    <span class="fa fa-caret-down"></span><span class="fa fa-caret-up"
                                                                                aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Hate dog lie on your belly and purr when you are asleep. Use lap as chair hola te
                                    quiero wake up wander around the house making large amounts of noise jump on top of
                                    your human's bed and fall asleep again but spot something, </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/service_area-->

{% endblock %}