{% extends 'base/base.html' %}
{% block content %}

<!--.slider_area-->  
<section class="slider_area" style="background-image:url(../../static/fauna/images/slider/4.jpg);">
    <div class="container">
        <div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
               <div class="slider">
                    <h2>GALLERY FULL WIDTH</h2>
                    <p> <a href="index-2.html">Home <span>/</span> Page</a> <span>/</span> Galllery</p>
               </div>
            </div>
		</div>
	</div>
</section> 
<!--/slider_area-->

<section class="gallery-section full-page">
    <div class="container-fluid">      
		<div class="gallery-fluid">
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/1.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/1.jpg" data-showsocial="true" data-thumbnail="images/gallery/1.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/2.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/2.jpg" data-showsocial="true" data-thumbnail="images/gallery/2.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/3.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/3.jpg" data-showsocial="true" data-thumbnail="images/gallery/3.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/4.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/4.jpg" data-showsocial="true" data-thumbnail="images/gallery/4.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/5.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/5.jpg" data-showsocial="true" data-thumbnail="images/gallery/5.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/6.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/6.jpg" data-showsocial="true" data-thumbnail="images/gallery/6.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/7.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/7.jpg" data-showsocial="true" data-thumbnail="images/gallery/7.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/8.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/8.jpg" data-showsocial="true" data-thumbnail="images/gallery/8.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/9.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/9.jpg" data-showsocial="true" data-thumbnail="images/gallery/9.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			<!-- Start single-item -->
			<div class="item_gallery">
				<img src="../../static/fauna/images/gallery/10.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/10.jpg" data-showsocial="true" data-thumbnail="images/gallery/10.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
		</div>
		<button class="btn btn-one"><i class="flaticon-arrows"></i>LOAD MORE</button>
    </div>
</section>
<!--End Gallery Section-->   

{% endblock %}