{% extends 'base/base.html' %}
{% block content %}

<section class="gallery-section full-page">
    <div class="container">      
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/1.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/1.jpg" data-showsocial="true" data-thumbnail="images/gallery/1.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/2.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/2.jpg" data-showsocial="true" data-thumbnail="images/gallery/2.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/3.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/4.jpg" data-showsocial="true" data-thumbnail="images/gallery/4.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/4.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/4.jpg" data-showsocial="true" data-thumbnail="images/gallery/4.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
	
			<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/6.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/5.jpg" data-showsocial="true" data-thumbnail="images/gallery/5.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/8.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/4.jpg" data-showsocial="true" data-thumbnail="images/gallery/4.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/9.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/7.jpg" data-showsocial="true" data-thumbnail="images/gallery/7.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/10.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/8.jpg" data-showsocial="true" data-thumbnail="images/gallery/8.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
            <div class="col-md-4 col-sm-4 col-xs-12">
			<!-- Start single-item -->
			<div class="gallery-item">
				<img src="../../static/fauna/images/gallery/10.jpg" alt="">
				<!-- Start overlay -->
				<div class="overlay">
					<div class="box">
						<div class="image-view">
                            <a class="html5lightbox" href="../../static/fauna/images/gallery/9.jpg" data-showsocial="true" data-thumbnail="images/gallery/9.jpg" data-group="set1" data-width="800" data-height="600"> <i class="flaticon-frame-square-symbol-with-four-angles" ></i>
                            </a>
						 </div>
					</div>
				</div>
				<!-- End overlay -->
			</div>
			<!-- End single-item -->
			</div>
		</div>
		<button class="btn btn-one btn-two"><i class="flaticon-arrows"></i>LOAD MORE</button>
    </div>
</section>
<!--End Gallery Section-->   

{% endblock %}